@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div ng-app="homeEditController" ng-controller="HomeController">
        <div class="page-content-product">
            <div class="main-product">
                <div class="container">
                    <div class="row clearfix">
                        <div class="find-box">
                            <h1>BİTİRME ÖDEVİ</h1>
                            <h4>Hiç Bu Kadar Kolay Olmamıştı</h4>
                            <div class="product-sh">
                                <div class="col-sm-6">
                                    <div class="form-sh">
                                        <input type="text" placeholder="Şahane Cuma İndirimleri Başladı">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    @*category list*@
                                    <div class="form-sh">
                                        <select class="selectpicker" ng-model="categories">
                                            <option ng-repeat="categories in GetCategories">{{categories.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                @*Search*@
                                <div class="col-sm-3">
                                    <div class="form-sh"> <a class="btn" href="#">ARA</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*category here*@
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-md-3" ng-repeat="categories in GetCategories">
                            <a href="Product/Index?id={{categories.id}}">

                                <div class="box-img">
                                    <h4>{{categories.name}}</h4>
                                    <img src="{{categories.photo}}" alt="" />
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</body>

@section Scripts{
    <script src="~/js/home.js"></script>
  }

