@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ADMİN PANELİ</h2>
<body>
    <div ng-app="homeEditController" ng-controller="HomeController">
        <div>
            <div>
                  <a href="/ProductAdd/Index"  class="btn btn-primary">Ekle</a>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Ürün Adı</th>
                        <th scope="col">Ürün Stok </th>
                        <th scope="col">Ürün Fiyat</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody  ng-repeat="product in GetProductsWithCategory">
                    <tr>
                        <th scope="row">{{product.id}}</th>
                        <td>{{product.name}}</td>
                        <td>{{product.stock}}</td>
                        <td>{{product.price}}</td>
                        <td><a ng-click="Remove(product.id)" class="btn btn-danger">Sil</a></td>
                        <td><a href="/ProductUpdate/Index?id={{product.id}}"  class="btn btn-primary">Güncelle</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>


@section Scripts{
    <script src="~/js/home.js"></script>
  }

